<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa Corretor</title>
    <link rel="shortcut icon" href="/img/FAVICON_ALLCROSS.png" type="image/x-icon">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
</head>

<body class="bodyTudo">
    <div class="bodyNcenter">
        <img class="img-fluid mb-3" style="width:30%" src="/img/Logo_branca.png">
        <div class="row info">
            <h4 class="tituloPages">Querido Corretor AllCross, <br> </br>
            <p style="font-weight: 300;"> 

                Agradecemos sinceramente por dedicar seu tempo para participar da nossa pesquisa organizacional. Sua contribuição é inestimável e essencial para aprimorarmos continuamente o ambiente de trabalho e a forma como você enxerga a AllCross. </br>
                </br>
                
                Saber mais sobre suas experiências e percepções nos ajuda a criar um ambiente mais positivo e produtivo para todos. Estamos comprometidos em proporcionar o melhor suporte aos nossos corretores de planos de saúde, e sua participação ativa faz toda a diferença.</br>
                </br>
    
                Continue contando conosco para oferecer soluções excepcionais e um ambiente de trabalho que atenda às suas expectativas. Juntos, estamos construindo um futuro ainda mais brilhante.</br>
                </br>

                A AllCross valoriza profundamente sua parceria e agradece por fazer parte da nossa jornada.</br>
                </br>
                
                <strong> Atenciosamente, Grupo AllCross</strong></p>
            <h4 class="tituloPages"> Até mais! </h4>

        </div>
    </div>
</body>
</html>